.qq-uploader { position:relative; width: 100%; margin: 0 auto;}

.qq-upload-button {
    display:block; /* or inline-block */
    padding: 7px; text-align:center; margin: 0 auto;
    color:#444;
    border-radius: 7px;
}
.qq-upload-button-hover {background:#eee;}
.qq-upload-button-focus {outline:1px dotted black;}

.qq-upload-drop-area {
    position:absolute; top:0; left:0; width:100%; height:32px; border-radius: 8px; min-height: 32px; z-index:2;
    background:#99FF99; text-align:center; 
}
.qq-upload-drop-area span {
    display:block; position:absolute; top: 50%; width:100%; margin-top:-8px; font-size:16px;
}
.qq-upload-drop-area-active {background:#99FF99}

.qq-upload-list { display: none;}
.qq-upload-list li { margin:0; padding:0; line-height:15px; font-size:12px;}
.qq-upload-file, .qq-upload-spinner, .qq-upload-size, .qq-upload-cancel, .qq-upload-failed-text {
    margin-right: 7px;
}

.qq-upload-file {}
.qq-upload-spinner {display:inline-block; background: url("loading.gif"); width:15px; height:15px; vertical-align:text-bottom;}
.qq-upload-size,.qq-upload-cancel {font-size:11px;}

.qq-upload-failed-text {display:none;}
.qq-upload-fail .qq-upload-failed-text {display:inline;}

body {
    font-family: 'Arimo', 'Helvetica', 'Arial', sans-serif;
    font-size: 18px;
    font-style: normal;
    font-weight: normal;
    text-shadow: none;
    text-decoration: none;
    text-transform: none;
    letter-spacing: -0.05em;
    word-spacing: 0em;
    line-height: 1;
    text-align: center;
    color: #444;
    padding: 40px 0 0 0 ;
    margin: 0;
    background: #fff url('../img/waves.png') center 40px no-repeat;
}
a {
    color: #444;
    text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
h1 {
    font-size: 4em;
    margin: 0;
}

#subhead {
    font-size: 20px;
}
#subhead p {
    margin: 0;
}

#is {
    width: 580px;
    margin: 30px auto;
    text-align: center;
    font-size: 25px;
}

body > .title {
    position: relative;
    width: 580px;
    margin: 30px auto;
    text-align: left;
}
body > .title .number{
    font-size: 40px;
    position: absolute;
    text-align: right;
    left: -60px;
}
.line { margin: 20px auto; border-bottom: 1px solid #ccc; width: 580px; }
.smaller {
    text-align: center;
    margin-top: 10px;
    font-size: 13px;
    color: #777;
}
.smaller.bookmark a{
    color: #444;
}

.container {
    background: #eee;
    color: #0c0017;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    --moz-border-radius: 10px;
    -o-border-radius: 10px;
    width: 580px;
    margin: 10px auto 30px;
    text-align: left;
    padding: 5px 10px;
}
.hack {
    height: 94px;
    padding: 5px 10px;
    border-top: 1px solid #ccc;
}
.hack:first-child {
    border-top: none;
}
.hack .title {
    padding-top: 12px;
}
.hack a {
    color: #888;
}
.hack .image {
    float: left;
    margin: 0 10px 5px 0;
}
.hack .description {
    color: #999;
    margin: 10px;
}
#footer {
    text-align: right;
    opacity: 0.4;
    color: #888;
    padding: 20px;
    width: 600px;
    line-height: 1.4em;
    margin: 0 auto ;
}
.next {
    padding: 5px 10px;
}
#waves {
    width: 100%;
    height: 250px;
    position: absolute;
    z-index: 1;
    overflow: hidden;
}
.wave {
    width: 2500px;
    height: 250px;
    position: absolute;
    top: 0px;
}

@-webkit-keyframes lr {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -1500px 0px;
    }
}

@-webkit-keyframes rl {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 1500px 0px;
    }
}

@-moz-keyframes lr {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: -1500px 0px;
    }
}

@-moz-keyframes rl {
    0% {
        background-position: 0px 0px;
    }
    100% {
        background-position: 1500px 0px;
    }
}

.left.fast {
    position: absolute;
    left: 0px;
    -webkit-animation-name: lr;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: lr;
    -moz-animation-duration: 30s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: linear;
}
.right.fast {
    position: absolute;
    right: 0px;
    -webkit-animation-name: rl;
    -webkit-animation-duration: 30s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: rl;
    -moz-animation-duration: 30s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: linear;
}
.left.slow {
    position: absolute;
    left: 0px;
    -webkit-animation-name: lr;
    -webkit-animation-duration: 60s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: lr;
    -moz-animation-duration: 60s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: linear;
}
.right.slow {
    position: absolute;
    right: 0px;
    -webkit-animation-name: rl;
    -webkit-animation-duration: 60s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-direction: alternate;
    -webkit-animation-timing-function: linear;

    -moz-animation-name: rl;
    -moz-animation-duration: 60s;
    -moz-animation-iteration-count: infinite;
    -moz-animation-direction: alternate;
    -moz-animation-timing-function: linear;
}

#wave_1 { width: 2476px; background: url("../img/wave1.png") repeat-x;}
#wave_2 { width: 2005px; background: url("../img/wave2.png") repeat-x;}
#wave_3 { width: 1806px; background: url("../img/wave3.png") repeat-x;}
#wave_4 { width: 2033px; background: url("../img/wave4.png") repeat-x;}

#container {
    z-index: 2;
    position: relative;
}

#precontent {
    width: 600px;
    margin: 20px auto 0;
    padding: 0;
    text-align: center;
    position: relative;
    display: none;
}

#tag.trackviewer {
    text-align: left;
    margin-left: 150px;
    line-height: 1.4em;
    padding-top: 25px;
    width: 100%
}

#player{
    height: 128px;
    display: none;
}

#art, #art img{
    width: 128px;
    height: 128px;
    display: block;
    position: absolute;
    top: 0;
    left: 0;
}

#art{
  opacity: 0.3;
}

#content {
    width: 600px;
    margin: 3px auto;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
    padding: 0;
    text-align: left;
    position: relative;
    min-height: 32px;
}

.style{
    width: 300px;
    float: left;
    display: block;
    height: 24px;
    padding-top: 8px;
    text-align: center;
}

.style:hover {
    text-decoration: none;
    background: #ccc;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}
.style.right {
    border-left: 1px solid #ccc;
    width: 299px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
}

.newlabel{
    position: absolute;
    top: -96px;
    left: -100px;
    width: 116px;
    height: 156px;
    background: url(../img/choosestyle.png);
    display: none;
}

#checkout {
    width: 600px;
    margin: 3px auto;
    padding: 20px 0;
    text-align: left;
    position: relative;
    font-size: 16px;
    line-height: 1.3em;
}

#checkout .more{
    display: block;
    float: right;
    color: #777;
    text-decoration: underline;
}

#checkout .more:hover {
    text-decoration: none;
}


.progress {
    width: 0px;
    display: none;
    background: #ccc;
    height: 2em;
    border-top-left-radius: 5px;
    border-bottom-left-radius: 5px;
}

#post {
    width: 600px;
    margin: 10px auto;
    padding: 0;
    height: 60px;
    text-align: left;
    position: relative;
    display: none;
}

#post .download a, #post .soundcloud a{
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border: 2px solid #ccc;
    width: 240px;
    padding: 16px 10px 12px 40px;
    height: 20px;
    position: absolute;
    text-align: center;
    background-color: #fff;
}

#post .download a:hover , #post .soundcloud a:hover {
    background-color: #eee;
}

#post .download a{
    left: 0;
    top: 0;
    background: url(../img/download.png) no-repeat 28px 4px #fff;
}
#post .soundcloud a{
    right: 0;
    top: 0;
    background: url(../img/soundcloud.png) no-repeat 17px 5px #fff;
    text-indent: 0;
}

#post .soundcloud.hidden a:hover {
    color: #333;
    text-indent: 0;
}

#post .soundcloud a.withtext {
    right: 0;
    top: 0;
    background: url(../img/soundcloud.png) no-repeat 17px 5px #fff;
    text-indent: 0;
    padding: 12px 10px 12px 40px;
    height: 24px;
}

#post .soundcloud a.withtext span{
    font-size: 10px;
    margin-top: -1px;
    display: block;
}

.center{
    text-align: center;
}

.text {
    display: block;
    width: 100%;
    text-align: center;
    padding: 10px 0;
    position: absolute;
    left: 0;
    top: 0;

}

.progress .text a.download {
    margin-top: 10px;
    text-decoration: underline;
    color: #004;
    display: block;
}
.progress .text a.download:hover {
    text-decoration: none;
}
.link {
    display: none;
    margin-top: 20px;
    margin-bottom: 20px;
}
.link a {
    color: #bbb;
    text-decoration: underline;
}

.link a:hover {
    color: #999;
}

iframe {
    border: none;
}


.player {
    display: block;
    height: 48px;
    width: 600px;
    position: relative;
    border-top: 1px solid #c2cbd4;
    background: #939eaa;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(rgba(174, 185, 196, .9)), to(rgba(110, 124, 140, .9)), color-stop(.5, rgba(152, 164, 176, .9)),color-stop(.501, rgba(132, 145, 159, .9)));
    background: -moz-linear-gradient(top, rgba(174, 185, 196, .9), rgba(152, 164, 176, .9) 50%, rgba(132, 145, 159, .9) 50.1%, rgba(110, 124, 140, .9));
    background: linear-gradient(top, rgba(174, 185, 196, .9), rgba(152, 164, 176, .9) 50%, rgba(132, 145, 159, .9) 50.1%, rgba(110, 124, 140, .9));
    cursor: default;
    padding: 0;
    margin: 0;
    border-radius: 10px;
}

#playtoggle {
    position: absolute;
    top: 9px;
    left: 10px;
    width: 30px;
    height: 30px;
    background: url(../img/player.png) no-repeat -30px 0;
    cursor: pointer;
}

#playtoggle.playing {
    background-position: 0 0;
}

#playtoggle:active {
    top: 10px;
}

#timeleft {
    line-height: 48px;
    position: absolute;
    top: 0;
    right: 0;
    width: 50px;
    text-align: center;
    font-size: 11px;
    font-weight: bold;
    color: #fff;
    text-shadow: 0 1px 0 #546374;
}

#wrapper #timeleft {
    right: 40px;
}

#gutter {
    position: absolute;
    top: 19px;
    left: 50px;
    right: 50px;
    height: 6px;
    padding: 2px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -o-border-radius: 5px;
    border-radius: 5px;
    background: #546374;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#242f3b), to(#516070));
    background: -moz-linear-gradient(top, #242f3b, #516070);
    background: linear-gradient(top, #242f3b, #516070);
    -webkit-box-shadow: 0 1px 4px rgba(20, 30, 40, .75) inset, 0 1px 0 rgba(176, 187, 198, .5);
    -moz-box-shadow: 0 1px 4px rgba(20, 30, 40, .75) inset, 0 1px 0 rgba(176, 187, 198, .5);
    -o-box-shadow: 0 1px 4px rgba(20, 30, 40, .75) inset, 0 1px 0 rgba(176, 187, 198, .5);
    box-shadow: 0 1px 4px rgba(20, 30, 40, .75) inset, 0 1px 0 rgba(176, 187, 198, .5);
}

#wrapper #gutter {
    right: 90px;
}

#loading {
    background: #fff;
    background: #939eaa;
    background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#eaeef1), to(#c7cfd8));
    background: -moz-linear-gradient(top, #eaeef1, #c7cfd8);
    background: linear-gradient(top, #eaeef1, #c7cfd8);
    -webkit-box-shadow: 0 1px 0 #fff inset, 0 1px 0 #141e28;
    -moz-box-shadow: 0 1px 0 #fff inset, 0 1px 0 #141e28;
    -o-box-shadow: 0 1px 0 #fff inset, 0 1px 0 #141e28;
    box-shadow: 0 1px 0 #fff inset, 0 1px 0 #141e28;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -o-border-radius: 3px;
    border-radius: 3px;
    display: block;
    float: left;
    min-width: 6px;
    height: 6px;
}

#handle {
    position: absolute;
    top: -5px;
    left: 0;
    width: 20px;
    height: 20px;
    margin-left: -10px;
    background: url(../img/player.png) no-repeat -65px -5px;
    cursor: pointer;
}

.player a.popup {
    position: absolute;
    top: 9px;
    right: 8px;
    width: 32px;
    height: 30px;
    overflow: hidden;
    text-indent: -999px;
    background: url(../img/player.png) no-repeat -90px 0;
}

.player a.popup:active {
    background-position: -90px 1px;
}

#spinner {
    background: url(../img/ajax.gif) no-repeat center center;
    height: 100px;
    width: 100%;
    display: none;
}
.red {
    color: #d00;
}

